*.class

# Package Files #
*.jar
*.war
*.ear

# Eclipse #
proguard-project.txt
project.properties
.classpath
.project
.settings/

# Vim #
*.swp

# Android #
bin/classes.dex
bin/resources.ap_
bin/jarlist.cache
